.index__header {
    padding: 40px 20px;
    height: 230px;
    background-image: url(../images/Group-tel.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (min-resolution: 2dppx) {
        background-image: url(../images/Group-tel2x.jpg);
    }

    @media screen and (min-width: 768px) {
        height: 216px;
        padding: 40px 32px;
        background-image: url(../images/Group-tabl.jpg);

        @media screen and (min-resolution: 2dppx) {
            background-image: url(../images/Group-tabl2x.jpg);
        }
    }

    @media screen and (min-width: 1280px) {
        background-image: url(../images/Group-desk.jpg);

        @media screen and (min-resolution: 2dppx) {
            background-image: url(../images/Group-desk2x.jpg);
        }
    }
}

.library-header {
    padding: 40px 20px;
    height: 230px;
    background-image: url(../images/group2-tel.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (min-resolution: 2dppx) {
        background-image: url(../images/group-tel@2x.jpg);
    }

    @media screen and (min-width: 768px) {
        height: 216px;
        padding: 40px 32px;
        background-image: url(../images/group2-tabl.jpg);

        @media screen and (min-resolution: 2dppx) {
            background-image: url(../images/group-tabl@2x.jpg);
        }
    }

    @media screen and (min-width: 1280px) {
        background-image: url(../images/group2-desc.jpg);

        @media screen and (min-resolution: 2dppx) {
            background-image: url(../images/group-desc@2x.jpg);
        }
    }
}

a {
    text-decoration: none;
}

.cap__link svg {
    fill: #FF001B;
    // background: gold;
    width: 24px;
    height: 24px;
    &:hover {
        fill: #FF001B;
    }

}





.cap {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.cap__logo-sp {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
    text-transform: none;
    &:hover {
        color: #FF001B;
    }

    @media screen and (max-width: 767px) {
        display: none;
    }
}



.form {
    background-color: rgba(47, 48, 58, 0);
    width: 100%;
    margin-top: 54px;
    display: flex;

    @media screen and (min-width: 768px) {
        margin-top: 46px;
    }

    @media screen and (min-width: 1280px) {
        margin-top: 41px;
    }
}

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: rgba(47, 48, 58, 0);
    height: 20px;
    color: #FFFFFF;
    &:hover,
    &:focus {
        border-bottom: 1px solid #FF001B;
        color: #FF001B;
    }
}

input::placeholder {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.cap__link {
    position: relative;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    &:hover {
        color: #FF001B;
    }
}

.cap__item:nth-child(4) {
    margin-left: 40px;
}

.cap__link.active::after {
    position: absolute;
    width: 100%;
    height: 3px;
    background: #FF001B;
    content: "";
    display: inline-block;
    display: flex;
    top: 100%;
}

.cap__list-btn {
    display: flex;

    margin-top: 60px;

    @media screen and (min-width: 768px) {
        margin-top: 46px;
    }
}

.cap__item-btn:last-child {
    margin-left: 20px;
    background-color: rgba(47, 48, 58, 0);

}

.cap__btn.active_btn {
    filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
    background-color: #FF6B01;
    border-color: #FF6B01;
}

.cap__btn {
    width: 130px;
    height: 44px;
    background-color: rgba(47, 48, 58, 0);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 14px 36px;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid #fff;
    cursor: pointer;
    &:hover {
        filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
        background-color: #FF6B01;
        border-color: #FF6B01;
    }

    @media screen and (min-width: 768px) {
        width: 172px;
    }

    @media screen and (min-width: 1280px) {
        width: 148px;
        height: 42px;
    }

}

.cap__box-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cap__box-error {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: #FF001B;
    margin-top: 20px;

    @media screen and (max-width: 320px) {
        max-width: 300px;
        margin-top: 16px;
    }

    @media screen and (min-width: 768px) {
        text-align: center;
    }
}

.form__box {
    position: relative;
    width: 100%;

    @media screen and (min-width: 425px) {
        width: 336px;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width: 1280px) {
        width: 394px;
    }
}
.bgr__btn-sun,
.bgr__btn-moon {
    cursor: pointer;
    padding: 0;
    background: none;
    border: none;
    &:hover {
        svg {
            fill: #FF001B;
        }
    }
    
}

form svg {
    fill: #fff;
    width: 12px;
    height: 12px;
}


.icon {
    fill: #fff;
    width: 20px;
    height: 20px;
    @media screen and (max-width: 425px) {
        width: 15px;
        height: 15px;
    }
}


.bgr_night {

    .movie__card:hover,
        .movie__card:focus {
            transform: scale(1.03);
            box-shadow: 1px 4px 6px #fff, 0 4px 4px #fff, 0 1px 1px #fff;
        }

}

.input__btn {
    transform: translateY(-4px) translateX(-22px);
    position: absolute;
    padding: 10px;
    background: none;
    border: none;
    cursor: pointer;

    &:hover {
        svg {
            fill: #FF001B;
        }
        
    }
}



.cap__item:nth-child(2) {
    margin-left: auto;
    margin-right: 20px;
    margin-top: 2px;
}
.btn-open-trailer {
    cursor: pointer;
    border: none;
    position: absolute;
    background: rgba(0, 0, 0, 0);
    top: 45%;
    left: 35%;
    @media screen and (min-width: 1280px) {
        top: 45%;
        left: 40%;
    }
   
    svg {
        background: rgba(0, 0, 0, 0.4);
        fill: #FF001B;
        width: 60px;
        height: 60px;
        box-shadow: 1px 3px 2px #545454, 0 3px 3px #545454, 3px 3px 3px #545454;
        &:hover {
            fill: #FF001B;
            transform: scale(1.03);
            background: rgba(#fff , 0.4);
            box-shadow: 1px 3px 2px #fff, 0 3px 3px #fff, 3px 3px 3px #fff;
        }
        border-radius: 30px;
        
    }
}

.basicLightbox__placeholder .modal {
    padding: 0;
    margin: 0;
    background: rgba(0, 0, 0, 0);
    position: fixed;
    @media screen and  (max-width: 425px) {
            transform: translateY(25%) translateX(0%);
            position: relative;
            z-index: 10;
            height: auto;
            width: 100%;
            min-height: 100%;
            background-color: none;
        }
    @media screen and (min-width: 768px)  {
        transform: translateY(30%) translateX(-50%);
    }
    @media screen and (min-width: 1200px) {
        transform: translateY(50%) translateX(-40%);
    }

    
    iframe {
        max-width: 100%;
    }
}

.trailer__close-btn {
    cursor: pointer;
    @media screen and (max-width: 768px) {
        transform: translateY(-24px) translateX(-30px);
    }
    position: absolute;
    background-color: gold;
        border: 1px solid gold;
        border-radius: 40px;
        width: auto;
        height: auto;
        top: 1px;
    svg {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        
    }

}
.basicLightbox {
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 1000;
    background: rgba(0, 0, 0, .8);
    will-change: opacity;
    width: 100%;
    height: 100vh;
    @media screen and (max-width: 768px) {
        top: 0%;
        left: 0%;
    }
    
}


.basicLightbox__placeholder {
    
    max-width: 100%;
    transform: scale(.9);
    transition: transform .4s ease;
    z-index: 1;
    will-change: transform;
}

.modal-box_trailer {
    position: relative;
    width: 240px;
    height: 357px;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
        min-height: 374px;
        width: 264px;
        margin-right: 68px;
        margin-bottom: 0;
    }

    @media screen and (min-width: 1280px) {
        min-height: 478px;
        width: 375px;
        margin-right: 16px;
    }
 
}