.movie__card {
    padding-bottom: 10px;
    cursor: pointer;
    position: relative;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &:hover,
    &:focus {
        box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
            0px 1px 1px rgba(0, 0, 0, 0.12);
        transform: scale(1.03);


    }
}

.movie__poster {
       border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
    // width: 280px;
    // height: 402px;

    @media screen and (min-width: 768px) {

        // width: 336px;

        width: 100%;
        height: 494px;
        margin-bottom: 8px;
    }

    @media screen and (min-width: 1280px) {
        width: 100%;
        // width: 395px;
        height: 574px;
        margin-bottom: 12px;
    }
}

.movie__info {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33;

    @media screen and (min-width: 1280px) {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
    }
}

.movie__name {
    color: var(--btn-text-color);
    text-transform: uppercase;
    margin-bottom: 4px;
}

.movie__data {
    color: var(--active-color);
}

.movie__genre {
    position: relative;
    
    &::after {
        content: '';
        position: absolute;
        background-color: var(--active-color);
        height: 10px;
        width: 1px;
        right: -5px;
        bottom: 2px;

        @media screen and (min-width: 1280px) {
            height: 18px;
            width: 2px;
            right: -8px;
            bottom: 2px;
        }

    }
}

.movie__year {
    margin-left: 6px;

    @media screen and (min-width: 1280px) {
        margin-left: 10px;
    }
}
.movie__rating {
    position: absolute;
    top: 10px;
    right: 10px;
    
    background-color: var(--active-color);
        padding: 2px 10px 2px 10px;
        border-radius: 5px;
        color: var(--bgBasic);
        font-size: 20px;
        font-weight: 500;
}