<header class="index__header">
  <div class="">
    <ul class="cap">
      <li class="cap__item-logo">
        <a class="cap__link" href="./index.html">
          <svg class="icon">
            <use href="./images/symbol-defs.svg#icon-film"></use>
          </svg>
          <span class="cap__logo-sp">Filmoteka</span>
        </a>
      </li>
      <li class="cap__item">
        <button class="bgr__btn-sun" aria-label="button switch to light theme">
          <svg class="icon icon-sun">
            <use href="./images/symbol-defs.svg#icon-sun"></use>
          </svg>
        </button>
        <button class="bgr__btn-moon" aria-label="button switch to dark theme">
          <svg class="icon icon-moon">
            <use href="./images/symbol-defs.svg#icon-moon"></use>
          </svg>
        </button>
      </li>
      <li class="cap__item">
        <a class="home-js cap__link active" href="./index.html">Home</a>
      </li>
      <li class="cap__item">
        <a class="cap__link" href="./myLibrary.html">my library</a>
        <a class="logOut__btn hidden"> LogOut </a>
        <button class="btn__form-login" type="button">
          <svg class="">
            <use href="./images/symbol.svg#icon-user-plus"></use>
          </svg>
        </button>
        <button class="btn__form-login-check" type="button">
          <svg class="">
            <use href="./images/symbol.svg#icon-user-check"></use>
          </svg>
        </button>
      </li>
    </ul>
    <form class="form">
      <div class="form__box">
        <input type="text" name="searchQuery" placeholder="Movie search" />
        <button class="input__btn" type="submit" aria-label="button search">
          <svg>
            <use href="./images/symbol-defs.svg#icon-search"></use>
          </svg>
        </button>
      </div>
    </form>
    <div class="cap__box-error is-hidden">
      Search result not successful. Enter the correct movie name and try again
    </div>

  </div>
  <div class="bacekdrop_box">
    <div class="modal__login">
      <button type="submit" name="submitBtn" class="modal-login__close-btn">
        <svg>
          <use href="./images/symbol.svg#icon-x"></use>
        </svg>
      </button>
      <button type="button" class="modal-login__back-btn hidden">
          <svg>
            <use href="./images/symbol.svg#icon-arrow-left"></use>
          </svg>
      </button>
      <!-- <div class="form-login"> -->
        <form class="singUp__form form-login">
          <label class="email">
            Email
            <input name="email" type="email" />
          </label>
          <label class="password">
            Password
            <input name="text" type="password" />
          </label>
          <div class="form-login__box">
            <button class="singup" type="submit">LogIn</button>
            <p> or</p>
            <a class="btn__to-register">Registration</button>
          </div>
        </form>
      <!-- </div> -->
      <!-- <div class="form__register"> -->
          <form class="singUp__form-second form__register">
            <label class="firstName">
              First Name
              <input type="text" name="firstName" />
            </label>
            <label class="secondName">
              Second Name
              <input type="text" name="secondName" />
            </label>
            <label class="form__register-email">
            Email
            <input type="email" name="reg_email">
            </label>
            <label class="form__register-password">
              Password
              <input type="password" name="reg_password">
            </label>
            <label class="form__register-check">
              Repeat password
              <input type="password" name="register_check" class="register_check">
            </label>
            <div class="form-login__box">

              <button class="btn__add" type="submit">Registration</button>

            </div>
          </form>
      <!-- </div> -->
    </div>
  </div>
</header>
