<header class="library-header">
    <div>
        <ul class="cap">
            <li class="cap__item-logo">
                <a class="cap__link" href="./index.html">
                    <svg class="icon icon-film">
                        <use href="./images/symbol-defs.svg#icon-film"></use>
                    </svg>
                    <span class="cap__logo-sp">Filmoteka</span>
                </a>
            </li>
            <li class="cap__item">
                <button class="bgr__btn-sun">
                    <svg class="icon icon-sun">
                        <use href="./images/symbol-defs.svg#icon-sun"></use>
                    </svg>
                </button>
                <button class="bgr__btn-moon">
                    <svg class="icon icon-moon">
                        <use href="./images/symbol-defs.svg#icon-moon"></use>
                    </svg>
                </button>
            </li>
            <li class="cap__item">
                <a class="home-js cap__link " href="./index.html">Home</a>
            </li>
            <li class="cap__item">
                <a class="cap__link active" href="./myLibrary.html">my library</a>
            </li>
        </ul>
        <div class="cap__box-btn">
            <ul class="cap__list-btn">
                <li class="cap__item-btn">
                    <button id="lib__watched-btn" class="cap__btn">Watched</button>
                </li>
                <li class="cap__item-btn">
                    <button id="lib__queued-btn" class="cap__btn">Queue</button>
                </li>
            </ul>
        </div>
    </div>
</header>