<div data-modalTeam class="modalTeams backdrop is-hidden">
  <div class="modalTeam">
    <button data-modalTeam-close class="modalTeamClose">X</button>
    <h2 class="modalTeam__title">Our Team</h2>
    <ul class="galleryTeams">
      <li class="teamList teamList--indent">
        <img
          class="galleryTeams__img"
          src="./images/PytsVolodymyr.jpg"
          alt="Володимир Пиц/Team Lead"
        />
        <div class="modalTems__block">
          <h3 class="modalTems__name">Володимир Пиц</h3>
          <p class="modalTems__position">Team Lead</p>
          <ul class="socialLink">
            <li class="socialLink__icon">
              <a
                href="https://github.com/VolodymyrPyts"
                class="socialNetworks__link"
                target="_blank"
              >
                <svg class="socialNetworks__icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-github"></use></svg></a>
            </li>
            <li class="socialLink__icon">
              <a
                href="https://www.linkedin.com/in/volodymyr-pyts-713804237/"
                class="socialNetworks__link"
                target="_blank"
              >
                <svg class="socialNetworks__icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use></svg></a>
            </li>
          </ul>
        </div>
      </li>
      <li class="teamList teamList--indent">
        <img
          class="galleryTeams__img"
          src="./images/ShafinsiyVlad.jpg"
          alt="Влад Шафінський/Skrum Master"
        />
        <div class="modalTems__block">
          <h3 class="modalTems__name">Влад Шафінський</h3>
          <p class="modalTems__position">Skrum Master</p>
          <ul class="socialLink">
            <li class="socialLink__icon">
              <a href="https://github.com/VladIT26" class="socialNetworks__link" target="_blank">
                <svg class="socialNetworks__icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-github"></use></svg></a>
            </li>
            <li class="socialLink__icon">
              <a href="https://www.linkedin.com/in/vladyslav-shafinskyi-a90260175" class="socialNetworks__link" target="_blank">
                <svg class="socialNetworks__icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use></svg></a>
            </li>
          </ul>
        </div>
      </li>
      <li class="teamList teamList--indent">
        <img
          class="galleryTeams__img"
          src="./images/MirskiyAlejandro.jpg"
          alt="Олександр Мирський/Developer"
        />
        <div class="modalTems__block">
          <h3 class="modalTems__name">Олександр Мирський</h3>
          <p class="modalTems__position">Developer</p>
          <ul class="socialLink">
            <li class="socialLink__icon">
              <a href="https://github.com/Alejandro111555" class="socialNetworks__link" target="_blank">
                <svg class="socialNetworks__icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-github"></use></svg></a>
            </li>
            <li class="socialLink__icon">
              <a href="https://www.linkedin.com/in/alexandr-mirskoy-506894129/" class="socialNetworks__link" target="_blank">
                <svg class="socialNetworks__icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use></svg></a>
            </li>
          </ul>
        </div>
      </li>
      <li class="teamList teamList--indent">
        <img
          class="galleryTeams__img"
          src="./images/KarnidalViktor.jpg"
          alt="Віктор Карнидал/Developer"
        />
        <div class="modalTems__block">
          <h3 class="modalTems__name">Віктор Карнидал</h3>
          <p class="modalTems__position">Developer</p>
          <ul class="socialLink">
            <li class="socialLink__icon">
              <a href="https://github.com/Karnydal" class="socialNetworks__link" target="_blank">
                <svg class="socialNetworks__icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-github"></use></svg></a>
            </li>
            <li class="socialLink__icon">
              <a href="http://linkedin.com/in/victor-karnydal-13a785171" class="socialNetworks__link" target="_blank">
                <svg class="socialNetworks__icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use></svg></a>
            </li>
          </ul>
        </div>
      </li>
      <li class="teamList teamList--indent">
        <img
          class="galleryTeams__img"
          src="./images/KoleshichenkoVladislav.jpg"
          alt="Владислав Колесниченко/Developer"
        />
        <div class="modalTems__block">
          <h3 class="modalTems__name">Владислав Колесниченко</h3>
          <p class="modalTems__position">Developer</p>
          <ul class="socialLink">
            <li class="socialLink__icon">
              <a href="https://github.com/kolesnva" class="socialNetworks__link" target="_blank">
                <svg class="socialNetworks__icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-github"></use></svg></a>
            </li>
            <li class="socialLink__icon">
              <a href="https://www.linkedin.com/in/vladyslav-kolesnychenko-0a2068246/" class="socialNetworks__link" target="_blank">
                <svg class="socialNetworks__icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use></svg></a>
            </li>
          </ul>
        </div>
      </li>
      <li class="teamList teamList--indent">
        <img
          class="galleryTeams__img"
          src="./images/VetrovaDariia.jpg"
          alt="Дарья Ветрова/Developer"
        />
        <div class="modalTems__block">
          <h3 class="modalTems__name">Дарья Ветрова</h3>
          <p class="modalTems__position">Developer</p>
          <ul class="socialLink">
            <li class="socialLink__icon">
              <a href="https://github.com/DariaOdessa" class="socialNetworks__link" target="_blank">
                <svg class="socialNetworks__icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-github"></use></svg></a>
            </li>
            <li class="socialLink__icon">
              <a href="https://www.linkedin.com/in/daria-vetrova-a0b258229/" class="socialNetworks__link" target="_blank">
                <svg class="socialNetworks__icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use></svg></a>
            </li>
          </ul>
        </div>
      </li>
      <li class="teamList teamList--indent">
        <img
          class="galleryTeams__img"
          src="./images/MelnichukYevgen.jpg"
          alt="Євген Мельничук/Developer"
        />
        <div class="modalTems__block">
          <h3 class="modalTems__name">Євген Мельничук</h3>
          <p class="modalTems__position">Developer</p>
          <ul class="socialLink">
            <li class="socialLink__icon">
              <a href="https://github.com/9Evhen7" class="socialNetworks__link" target="_blank">
                <svg class="socialNetworks__icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-github"></use></svg></a>
            </li>
            <li class="socialLink__icon">
              <a href="http://linkedin.com/in/evhen-melnichuk-7b59aa229" class="socialNetworks__link" target="_blank">
                <svg class="socialNetworks__icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use></svg></a>
            </li>
          </ul>
        </div>
      </li>
      <li class="teamList teamList--indent">
        <img
          class="galleryTeams__img"
          src="./images/YevheniiPozniak.jpg"
          alt="Євген Позняк/Developer"
        />
        <div class="modalTems__block">
          <h3 class="modalTems__name">Євген Позняк</h3>
          <p class="modalTems__position">Developer</p>
          <ul class="socialLink">
            <li class="socialLink__icon">
              <a href="https://github.com/Pozniak17" class="socialNetworks__link" target="_blank">
                <svg class="socialNetworks__icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-github"></use></svg></a>
            </li>
            <li class="socialLink__icon">
              <a href="https://www.linkedin.com/in/yevhenii-pozniak-24532b226/" class="socialNetworks__link" target="_blank">
                <svg class="socialNetworks__icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use></svg></a>
            </li>
          </ul>
        </div>
      </li>
      <li class="teamList teamList--indent">
        <img
          class="galleryTeams__img"
          src="./images/ChudiyovuchIvan.jpg"
          alt="Іван Чудійович/Developer"
        />
        <div class="modalTems__block">
          <h3 class="modalTems__name">Іван Чудійович</h3>
          <p class="modalTems__position">Developer</p>
          <ul class="socialLink">
            <li class="socialLink__icon">
              <a href="https://github.com/IvanChudiyovuch" class="socialNetworks__link" target="_blank">
                <svg class="socialNetworks__icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-github"></use></svg></a>
            </li>
            <li class="socialLink__icon">
              <a href="https://www.linkedin.com/in/ivan-chudiyovuch-270a77138" class="socialNetworks__link" target="_blank">
                <svg class="socialNetworks__icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use></svg></a>
            </li>
          </ul>
        </div>
      </li>
      <li class="teamList teamList--indent">
        <img
          class="galleryTeams__img"
          src="./images/KondratuykMukola.jpg"
          alt="Микола Кондратюк/Developer"
        />
        <div class="modalTems__block">
          <h3 class="modalTems__name">Микола Кондратюк</h3>
          <p class="modalTems__position">Developer</p>
          <ul class="socialLink">
            <li class="socialLink__icon">
              <a href="https://github.com/Mykola28112002" class="socialNetworks__link" target="_blank">
                <svg class="socialNetworks__icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-github"></use></svg></a>
            </li>
            <li class="socialLink__icon">
              <a href="https://www.linkedin.com/in/mykola-kondratiuk-a85991228/" class="socialNetworks__link" target="_blank">
                <svg class="socialNetworks__icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use></svg></a>
            </li>
          </ul>
        </div>
      </li>
      <li class="teamList teamList--indent">
        <img
          class="galleryTeams__img"
          src="./images/ZborovskaOlesia.jpg"
          alt="Олеся Здоровська/Developer"
        />
        <div class="modalTems__block">
          <h3 class="modalTems__name">Олеся Зборовська</h3>
          <p class="modalTems__position">Developer</p>
          <ul class="socialLink">
            <li class="socialLink__icon">
              <a href="https://github.com/shuro4ka" class="socialNetworks__link" target="_blank">
                <svg class="socialNetworks__icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-github"></use></svg></a>
            </li>
            <li class="socialLink__icon">
              <a href="https://www.linkedin.com/in/olesia-zborovska-a17061246/" class="socialNetworks__link" target="_blank">
                <svg class="socialNetworks__icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use></svg></a>
            </li>
          </ul>
        </div>
      </li>
      <li class="teamList teamList--indent">
        <img
          class="galleryTeams__img"
          src="./images/RadakhevychRoman.jpg"
          alt="Роман Радахевич/Developer"
        />
        <div class="modalTems__block">
          <h3 class="modalTems__name">Роман Радахевич</h3>
          <p class="modalTems__position">Developer</p>
          <ul class="socialLink">
            <li class="socialLink__icon">
              <a href="https://github.com/akrir6?tab=repositories" class="socialNetworks__link" target="_blank">
                <svg class="socialNetworks__icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-github"></use></svg></a>
            </li>
            <li class="socialLink__icon">
              <a href="https://www.linkedin.com/in/roman-radakhevych/" class="socialNetworks__link" target="_blank">
                <svg class="socialNetworks__icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use></svg></a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
